.main-layout {
  min-height: 100vh;
  background-color: #fff;
  // 内容包装 layout
  .inner-layout {
    
  }
  // header
  .header {
    background-color: #fff;
  }
  // footer
  .footer {
    text-align: center;
  }
}

.main-content {
  margin: 0 16px;
  .content {
    min-height: 400px;
    padding: 24px;
    background-color: #fff;
  }
}

// 面包屑
.breadcrumb {
  margin: 16px 0;
}
// 侧边栏
.sider {
  width: 200px;
}
