.wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}

.wrapper .form-wrapper {
  width: 500px;
  height: 300px;
  margin-top: 200px
}

.form-wrapper .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}